<?xml version="1.0" encoding="UTF-8"?>
<launch>

      
      <!-- sudo chmod a+rwx /dev/ttyS* /dev/ttyACM* ; sh Arret_WifibotServer.sh
      -->

      <!-- Wifibot low level driver -->
      <node pkg="roswifibot" exec="roswifibot_node" name="roswifibot_node" required="true" output="screen" >

   
     
</launch>
